@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

html,
body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #EBEBED;
	font-family: 'Do Hyeon', sans-serif;
	margin: 0px;
}



.login-wrapper {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 70%;
}

.login {
	padding: 10% 20%;
	background-color: #B9AAA0;
	border: 1px solid #B9AAA0;
	position: relative;
	bottom: 10%;
}

.login button {
	min-width: 220px;
	color: #333300;
	background-color: #ffcc00;
	border: 0;
	width: 100%
}
