<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>로그인</title>
	
	<link rel="shortcut icon" href="/image/logo.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
	</script>
	<link rel="stylesheet" href="./css/login_style.css">
</head>

<body>
	<div class="container-fluid">
		<!-- 상단 헤더 -->
		<nav class="navbar navbar-light bg-light sticky-top">
			<a class="navbar-brand" href="/">
				<img src="/image/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""
					loading="lazy">
			</a>
		</nav>
	</div>


	<div class="container text-center login-wrapper">
		<div class="login">
			<h2>로그인</h2>
			<button type="button" class=" mt-4 btn btn-primary">카카오톡으로 로그인하기</button>
		</div>
	</div>

	<footer class="text-muted border-top">
		<div class="container mt-4 pb-4">
			<p class="float-right">
				<a href="#">위로 가기</a>
			</p>
			<p>창원대학교 원룸 양도 서비스</p>
			<p>버그를 발견하셨나요? cynxia90@gmail.com로 알려주시면 감사하겠습니다!</p>
		</div>
	</footer>

</body>

</html>
