<!DOCTYPE html>
<html lang="kr">

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/image/logo.png">
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
	</script>
	
	<script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
	</script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script>
		window.addEventListener('load', () => {
			dropdownList = document.querySelectorAll('.dropdown')
			dropdownList.forEach(dropdown => {
				aTags = dropdown.querySelectorAll('.dropdown-menu a')
				dropBtn = dropdown.querySelector('button')
				aTags.forEach(aTag => aTag.addEventListener('click', (e) => {
					dropBtn.innerHTML = aTag.innerHTML
				}))
			})
		})
	</script>

	<link rel="stylesheet" href="./css/post_style.css">
	<link rel="stylesheet" href="./css/style.css">
	<title>게시글 작성</title>
</head>

<body>
	<div class="container-fluid">
		<!-- 상단 헤더 -->
		<nav class="navbar navbar-light bg-light sticky-top">
			<a class="navbar-brand" href="/">
				<img src="/image/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""
					loading="lazy">
			</a>
		</nav>

		<!-- 점보트론 -->
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4 text-center">창원대 이어살기</h1>
				<p class="lead text-center">창원대학교 원룸 양도 서비스입니다</p>
			</div>
		</div>

		<div class="container">
			<!-- 제목 -->
			<form>
				<div class="form-group row">
					<label for="staticEmail" class="col-sm-2 col-form-label">제목</label>
					<div class="col-sm-10">
						<div class="input-group mb-3">
							<div class="input-group-prepend dropdown">
								<button class="btn btn-outline-secondary dropdown-toggle" type="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">태그</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">창원대 정문</a>
									<a class="dropdown-item" href="#">기숙사 서문</a>
									<a class="dropdown-item" href="#">공대 동문</a>
									<a class="dropdown-item" href="#">기타</a>
								</div>
							</div>
							<input type="text" class="form-control" name="title"
								aria-label="Text input with dropdown button" maxlength="30">
						</div>
					</div>
				</div>
				<!-- 연락처 -->
				<div class="form-group row">
					<label for="inputcontact" class="col-sm-2 col-form-label">연락처</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="input-contact" name="contact" maxlength="50">
					</div>
				</div>
				<!-- 보증금 -->
				<div class="form-group row">
					<label for="inputdeposit" class="col-sm-2 col-form-label">보증금</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="input-deposit" name="deposit" maxlength="30" onkeypress="onlyNumber()">
					</div>
				</div>
				<!-- 월세 -->
				<div class="form-group row">
					<label for="inputmonthly-rent" class="col-sm-2 col-form-label">월세</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="input-monthly-rent" name="monthly_rent" maxlength="30" onkeypress="onlyNumber()">
					</div>
				</div>
				<!-- 계약기간 -->
				<div class="form-group row">
					<label for="inputcontract-period" class="col-sm-2 col-form-label">계약기간</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="input-contract-period" name="contract_period" maxlength="30">
					</div>
				</div>
				<!-- 위치 -->
				<div class="form-group row">
					<label for="inputaddress" class="col-sm-2 col-form-label">위치</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="input-address" name="address" maxlength="50">
						
					</div>
					<!--<div class="col-sm-1">-->
					<!--<button type="button" class="btn btn-primary search_address">검색</button>-->
					<!--</div>-->
				</div>

				<div class="form-group row">
					<label for="inputoption" class="col-sm-2 col-form-label">옵션</label>
					<div class="col-sm-10">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option2" name="air_conditioner">
							<label class="form-check-label" for="inlineCheckbox1">에어컨</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" name="refrigerator">
							<label class="form-check-label" for="inlineCheckbox2">냉장고</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option2" name="desk">
							<label class="form-check-label" for="inlineCheckbox3">책상</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option2" name="wifi">
							<label class="form-check-label" for="inlineCheckbox4">wifi</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option2" name="washing_machine">
							<label class="form-check-label" for="inlineCheckbox5">세탁기</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option2" name="gas_stove">
							<label class="form-check-label" for="inlineCheckbox6">가스렌지</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option2" name="microwave">
							<label class="form-check-label" for="inlineCheckbox7">전자렌지</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option2" name="door_lock">
							<label class="form-check-label" for="inlineCheckbox8">도어락</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option2" name="cctv">
							<label class="form-check-label" for="inlineCheckbox9">cctv</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option2" name="closet">
							<label class="form-check-label" for="inlineCheckbox10">옷장</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option2" name="bed">
							<label class="form-check-label" for="inlineCheckbox11">침대</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="option2" name="tv">
							<label class="form-check-label" for="inlineCheckbox12">tv</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox13" value="option2" name="public_washing_machine">
							<label class="form-check-label" for="inlineCheckbox13">공용세탁기</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox14" value="option2" name="public_kitchen">
							<label class="form-check-label" for="inlineCheckbox14">공용주방</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox15" value="option2" name="elevator">
							<label class="form-check-label" for="inlineCheckbox15">엘리베이터</label>
						</div>
					</div>
				</div>
				<hr>

			    <textarea name="content" id="editor"></textarea>
			    <script src="/js/api/search_address.js"></script>
			    <script src="/js/uploadAdapter.js"></script>
				
				<div class="form-group row">
						<div class="col-sm-10">
							
						</div>
					</div>
				
				<div class="text-length">0자</div>
				<div class="text-max">2000자</div>
				<div class="form-group row mt-4">
					<div class="col-12 text-right">
						<% if(admin_check == true){ %>
						<div class="custom-control custom-switch">
							<input type="checkbox" class="custom-control-input" id="notice-check" name="notice_check" >
							<label class="custom-control-label" for="notice-check">공지사항</label>
						</div>
						<% } %>
						<button type="button" class="btn btn-primary btn-submit btn-upload-wait">작성완료</button>
					</div>
				</div>
		</div>
		</form>
	</div>


	</div>

	<footer class="text-muted border-top">
		<div class="container mt-4 pb-4">
			<p class="float-right">
				<a href="#">위로 가기</a>
			</p>
			<p>창원대학교 원룸 양도 서비스</p>
			<p>버그를 발견하셨나요? cynxia90@gmail.com로 알려주시면 감사하겠습니다!</p>
		</div>
	</footer>
	<script src="/js/common/utils.js"></script>
	<script src="/js/pwrite_post.js"></script>
</body>

</html>
