@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

.jumbotron {
  background-color: #595c48;
  font-family: 'Do Hyeon', sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

.image > img {
  max-width: 1110px;
  margin-bottom: 20px;
}

.notice-board {
  margin-top: 30px;
  margin-bottom: 30px;
}
.notice-board-tr {
  background-color: #f8f8f8;
}
.notice-board-tr > td {
  font-weight: bold;
}
.notice-board-tr > td > a > i {
  color: red;
  margin-right: 20px;
}
/*버튼 스타일 정의*/
button.btn {
  background-color: #424242;
  color: white;
  border-color: #000000;
  box-shadow: none !important;
}
button.btn:hover {
  color: white;
  background-color: #a4a4a4 !important;
  outline: none;
  box-shadow: none !important;
}

button.btn:focus {
  color: black;
  background-color: white !important;
  border-color: white;
  box-shadow: none !important;
}

button.btn:active {
  color: black;
  background-color: white !important;
  border-color: #d8d8d8;
  box-shadow: none !important;
}
/*체크박스 커서*/
input[type='checkbox'] + label {
  cursor: pointer;
}
input[type='checkbox']:checked + label {
  cursor: pointer;
}

/*페이지 버튼 스타일 정의*/
.pagination > li > a {
  background-color: white;
  color: black;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a {
  color: white;
  background-color: #424242 !important;
  border: solid 1px black !important;
}
.pagination > .active > a:hover {
  background-color: #a4a4a4 !important;
  border: solid 1px #424242;
}

.pagination > li > a:active .pagination > .active > a:active .pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover .pagination > .active > a .pagination > .active > a:hover {
  box-shadow: none !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #000;
  background-color: #000;
}

.jumbotron {
  background-color: #373737;
  background-image: url('/image/main.png') !important;
  background-size: 1300px;
  background-repeat: repeat-x;
  background-position: center;
  height: auto;
  text-shadow: 2px 2px 2px #373737;
}

.card-body h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-body p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.searching {
  white-space: nowrap;
}
.my_posting {
  white-space: nowrap;
}

.card-body p {
    margin-top: 0;
    margin-bottom: 0.2rem;
    color: #6B6B6B;
}
.post_date p {
  margin-top: 0.3rem;
    margin-bottom: 0;
    color: #A0A0A0;
}